{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Новини</h1>
        <nav>
            <a href="/">Головна</a>
            <a href="/news/">Новини</a>
            <a href="/authors/">Автори</a>
        </nav>
    </header>
    <h2>Останні новини</h2>
    <ul>
        {% for news in latest_news %}
            <li>
                <a href="{% url 'news_detail' news.id %}">{{ news.title }}</a><br>
                <strong>Автор:</strong> {{ news.author }}<br>
                <strong>Дата:</strong> {{ news.published_date }}<br>
                <p>{{ news.content|truncatewords:20 }}</p>
            </li>
        {% endfor %}
    </ul>
    <div class="button-container"> <!-- Додаємо контейнер -->
        <a class="button" href="/news/">Читати більше</a>
    </div>
</body>
</html>
